body {
  background-color: #191414;
  background-image: linear-gradient(45deg, #e91e63, #9c27b0, #2196f3, #4caf50, #ffeb3b, #ff9800, #795548);
  animation: gradient 15s ease infinite;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #282828;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #1DB954;
}

.sub-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #FFFFFF;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  margin-bottom: 15px;
  color: #FFFFFF;
  background-color: transparent;
}

.form-input.quantity, 
.form-input.availability {
  background-color: rgba(255, 255, 255, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.button {
  display: block;
  padding: 10px;
  font-size: 18px;
  background-color: #1DB954;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #1ED760;
}

.add-item {
  border: 1px solid #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.update-quantity {
  border: 1px solid #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.update-availability {
  border: 1px solid #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.view-item {
  border: 1px solid #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
